@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Food Prices in New Zealand</h1>
    <p class="lead">  New Zealand has many reasons for being such a budget-friendly backpacker country but, unfortunately, the food prices is not one of them. Despite having a huge dairy and horticulture industry in New Zealand, much of it is exported, keeping the domestic prices pretty high compared to what you might find at home.</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome all</h2>
        <p>
            When travelling in New Zealand, it’s cheaper to cook food in your hostel or flat than to indulge in eating in restaurants or takeaways. In order to take the drastic measure of cooking for yourself and following all of our budget-friendly recipes, first, you must go food shopping! This article shows the common places to buy food in New Zealand and some tips on how to save the cents. It’s your complete guide to food shopping in New Zealand!
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>New Zealand’s grocery shops include supermarket chains, convenience stores and farmers markets. We’ll go through each one of them, along with their pros and cons, in this article.If you need inspiration on what to buy, see our: Backpacker’s Food Shopping List.</p>
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>